.login .errornote{margin-top:80px !important;}

#tree{width:700px !important;}
#addlist-primary{width:655px !important;}

.dynamic-inline .vTextField{width:250px !important;}

select[multiple=multiple]{width:100%;}