{% extends "admin/base_site.html" %}

{% block title %}Mots-clés - Moteur de recherche bacs{% endblock %}

{% block content %}

    <h1>Mots-clés - Moteur de recherche bacs</h1>

    <div class="module" id="changelist">
        <table cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Catégorie</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row1"><th><a href="/cyber/searchbac/bacbrun/">Bac Brun</a></th></tr>
                <tr class="row2"><th><a href="/cyber/searchbac/bacbleu/">Bac Bleu</a></th></tr>
                <tr class="row1"><th><a href="/cyber/searchbac/poubelle/">Poubelle</a></th></tr>
                <tr class="row2"><th><a href="/cyber/searchbac/ecocentre/">Ecocentre</a></th></tr>
                <tr class="row1"><th><a href="/cyber/searchbac/grenier/">Grenier populaire des Basses-Laurentides</a></th></tr>
                <tr class="row2"><th><a href="/cyber/searchbac/comite/">Comité d'action sociale</a></th></tr>
                <tr class="row1"><th><a href="/cyber/searchbac/joujou/">Joujou Récup-R</a></th></tr>
                <tr class="row2"><th><a href="/cyber/searchbac/arbres/">Arbres de Noël</a></th></tr>
                <tr class="row1"><th><a href="/cyber/searchbac/medicaments/">Médicaments et seringues périmés</a></th></tr>
                <tr class="row1"><th><a href="/cyber/searchbac/constantin/">Constantin Service d'Appareils Ménagers</a></th></tr>
            </tbody>
        </table>
    </div>
{% endblock %}