{% load i18n future pages_tags %}
{% spaceless %}
    <ul>
    {% for page in page_branch %}
    {% if page.in_menu %}
        {% if page.status == 2 %}
            <li class="{% if page.has_children_in_menu %}dropdown-submenu{% endif %}
                       {% if page.is_current_or_ascendant %}active{% endif %}
                       {% if page.branch_level == 2 %}indent{% endif %}
                       "
                id="{{ page.html_id }}">
                <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
            </li>
        {% endif %}
    {% endif %}
    {% endfor %}
    </ul>
{% endspaceless %}