{% load i18n future pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}
<ul class="nav-top">
    <li id="primary-menu-home" class="first{% if on_home %} active{% endif %} hidden-xs">
        <a href="{% url "home" %}">{% trans "Home" %}</a>
    </li>
{% for page in page_branch %}
    {% if page.in_menu %}
        <li {% if page.is_current_or_ascendant %}class="active"{% endif %}
            id="top-menu-{{ page.html_id }}">
            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
{% endspaceless %}
